<h1> School Class Form </h1>
<%= form_for (@school_class) do |s| %> 
<%= s.label 'Title' %><br> 
<%= s.text_field :title %><br> 

<%= s.label 'Room Number' %><br>
<%= s.text_field :room_number %><br>
<%= s.submit %> 
<% end %> 

